.contributors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;

  padding: 0 !important;
  margin: 32px 0;
  list-style: none;

  &__name {
    text-align: center;
  }
}
